absl-py==0.12.0
amqp==5.0.6
asgiref
astunparse==1.6.3
billiard==3.6.4.0
celery==5.0.5
certifi==2020.12.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
dj-database-url==0.5.0
Django
django-heroku==0.3.1
django-rest-framework==0.1.0
djangorestframework==3.12.4
docx2txt==0.8
fire==0.4.0
flatbuffers==1.12
gast==0.3.3
gcloud==0.17.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
grpcio==1.32.0
httplib2==0.19.1
joblib==1.0.1
jws==0.1.3
Keras-Preprocessing==1.1.2
kombu==5.0.2
lxml==4.6.3
Markdown==3.3.4
numpy==1.20.2
oauth2client==3.0.0
opt-einsum==3.3.0
pdf2docx==0.5.1
prompt-toolkit==3.0.18
protobuf==3.16.0rc1
psycopg2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.4.3
PyMuPDF==1.18.12
pyparsing==2.4.7
Pyrebase==3.0.27
python-docx==0.8.10
python-jwt==2.0.1
pytz
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.3
six==1.15.0
sqlparse
tensorboard==2.5.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
threadpoolctl==2.1.0
typing-extensions==3.7.4.3
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.2.0
wincertstore==0.2
wrapt==1.12.1
